 {% extends 'main.html' %}
{% load static %}


{% block style %}
            <link href="{% static 'assets/vendor_components/select2/dist/css/select2.min.css' %}" rel="stylesheet">
            <link href="{% static 'assets/vendor_components/datatable/datatables.min.css' %}" rel="stylesheet">

        {% endblock %}
 {% block title %}

    <button style="display:none;" id="btnmodal" type="button" class="btn btn-rounded btn-info" data-toggle="modal" data-target="#modal-right">

				  </button>
      <!-- Modal -->
  <div class="modal modal-right fade" id="modal-right" tabindex="-1">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="titre"></h5>
			<button type="button" class="close" data-dismiss="modal">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
            <p>Emb. <select name="emballage" id="emballage" class="form-control select2"></select></p>
            <p>Quantité Commandée <input type="text" name="qtecmd" id="qtecmd" class="form-control" placeholder=""></p>
            <p>PAU <input type="text" name="pa" value="0" id="pa" class="form-control" placeholder=""></p>
            <p><button id="ajoutarticle" type="button" class="btn btn-outline btn-info mb-5">Modifier</button></p>
		  </div>

		</div>
	  </div>
	</div>
  <!-- /.modal -->

         
            <h3>
        Validation Bon de Commande
        </h3>
        <ol class="breadcrumb" style="background: transparent">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
     
            <li class="breadcrumb-item active">Validation</li>
            <li class="breadcrumb-item active">Bon de Commande</li>
        </ol>

          {% endblock %}

{% block content %}



	<div class="col-12">

								
			  <div class="box">
				 
				<div class="box-body">
                <form action="#" id="fprm2" method="post" >
                                {% csrf_token %}
				  <!-- Color Picker -->
				  <div class="form-group row">

					<div class="col-sm-3">
								<label>Date</label>
								<input type="date" id="datebon" required value="{% now 'Y-m-d' %}" name="datebon" class="form-control">
					</div>
                  <div class="col-sm-9">
								<label>N° bon</label>
                                <select name="bon" required id="bon" class="form-control select2" >
                                <option value=""></option>
									{% for i in bon  %}
										<option value="{{i.commande}}" >{{ i.observation}} / {{ i.datejour }} / {{ i.tiers.nompostnom }}</option>
									{% endfor %}

								</select>
					</div>

					
				  </div>
				  <!-- /.form group -->

				  <!-- Color Picker -->

                <div class="form-group row">
{#                    <div class="col-sm-3">#}
{#								<label>Date Livraison</label>#}
{#								<input type="text" required name="dateliv" id="dateliv" class="form-control">#}
{#					</div>#}
{##}
{#                   <div class="col-sm-3">#}
{#								<label>Mode</label>#}
{#								<select name="mode" required id="mode" class="form-control select2" >#}
{#                                    <option value="" ></option>#}
{#                                    <option value="2" >Crédit</option>#}
{#									<option value="1" >Comptant</option>#}
{##}
{#								</select>#}
{#					</div>#}
					<div class="col-sm-3" style="margin-top:22px">
								<button id="ajoutarticle" type="submit" class="btn btn-outline btn-info mb-5">Valider commande</button>
                    </div>
                    <div class="col-sm-3" style="margin-top:22px">
                        <button id="delarticle" type="button" class="btn btn-outline btn-warning mb-5">Supprimer commande</button>
                    </div>

					
					<!-- /.input group -->
				  </div>
                 </form>
				  <!-- /.form group -->

				  <!-- time Picker -->
				  
					<div class="form-group row">
					  <div class="col-sm-12">

					    <div class="box">
					 
					<!-- /.box-header -->
					<div class="box-body">
						<div class="table-responsive">
						  <table id="example1" class="table table-bordered table-striped">
							<thead style="background:gray">
								<tr>
									<th>#</th>
									<th>Produit</th>
									<th>Qté</th>
                                    <th>Unité</th>
{#                                    <th>Desc.</th>#}
									<th>PAU</th>
									<th>Fournisseur</th>
									<th>Date</th>
								</tr>
							</thead>
							<tbody>

								
							</tbody>
							<tfoot style="background:gray">
								<tr>
									<th>#</th>
									<th>Produit</th>
									<th>Qté</th>
                                    <th>Unité</th>
{#                                    <th>Desc.</th>#}
                                    <th>PAU</th>
									<th>Fournisseur</th>
									<th>Date</th>
								</tr>
							</tfoot>
						  </table>
						</div>
					</div>
					<!-- /.box-body -->
				  </div>
					</div>
					<!-- /.form group -->
			 
				</div>
				<!-- /.box-body -->
			  </div>
			  </div>

			</div>



 {% endblock %}

 {% block script %}

            <script src="{% static 'assets/vendor_components/bootstrap-select/dist/js/bootstrap-select.js' %}"></script>
            <script src="{% static 'assets/vendor_components/select2/dist/js/select2.full.js' %}"></script>
            <script src="{% static 'assets/vendor_components/datatable/datatables.min.js' %}"></script>

            	 <script>
            $(document).ready(function() {
            	var idass=0;
             $('.select2').select2();
             
             $('#example1').DataTable();


                 $('#ajoutarticle').click(function (e) {

                    livree(idass);

           });

                $('#delarticle').click(function (e) {

                     if (confirm("Voulez-vous vraiment supprimer cette commande ?")){


                         $.ajax({
                             url: '{% url 'gestionstock:boncommandevalidesup' %}',
                             type: 'POST',
                             data:{
                                 "csrfmiddlewaretoken":'{{ csrf_token }}',
                                 "id":$('#bon').val(),
                                 "veri":"1"
                             },
                             async: false,
                             success: function (data) {
                                 $('#msx').show();
                                 if(data.id=="0"){

                                     $.toast({
                                         heading: 'Gestion de stock',
                                         text: data.msg,
                                         position: 'top-right',
                                         loaderBg: '#ff6849',
                                         icon: 'error',
                                         hideAfter: 3500

                                     });
                                 }else{


                                     $.toast({
                                         heading: 'Gestion de stock',
                                         text:data.msg,
                                         position: 'top-right',
                                         loaderBg: '#ff6849',
                                         icon: 'success',
                                         hideAfter: 3500,
                                         stack: 6
                                     });
                                     $('#bon option[value="'+$('#bon').val()+'"]').remove();
                                     $('#mode').val(0);
                                     $('#mode').change();
                                     $('#dateliv').val("");
                                     affiche();
                                 }

                             }
                         });


                     }

                });


               $('#example1 tbody').on('click','tr',function(){
                    idass=this.cells[0].textContent;
                    $('#titre').html(this.cells[1].textContent);
                    $('#qtecmd').val(this.cells[2].textContent);
                    $('#emballage').children().remove();

                     $('#emballage').append($('<option>',{
                                              value:this.cells[3].textContent,
                                              text:this.cells[3].textContent
                                          }));
                     $('#pa').val(this.cells[4].textContent);
                    //get prix produit




                    //--------------------


                     $('#btnmodal').click();
                      window.setTimeout(function () {
                                $('#qte').select();

                            },1000);






                });

             $('#bon').change(function (e) {

            		affiche();

            		$.ajax({
                        url: '{% url 'gestionstock:getdetailboncommande' %}',
                        type: 'POST',
                         data:{
                            "csrfmiddlewaretoken":'{{ csrf_token }}',
                             "id":$('#bon').val()
                         },
                        async: false,
                        success: function (data) {
                            $('#mode').val(data.mode);
                            $('#mode').change();
                            //$('#dateliv').datepicker("setDate",new Date(9,3,2008));
                            $('#dateliv').val(data.dateliv);
                            //$('#dateliv').prop('type',date);

                        },error:function (data) {
                                            $('#mode').val(0);
                            $('#mode').change();
                            $('#dateliv').val("");
                            }
                        });


            	});
             $('#fprm2').submit(function (e) {
                         e.preventDefault();

                         $.ajax({
                        url: '{% url 'gestionstock:boncommandevalide' %}',
                        type: 'POST',
                         data:$(this).serialize(),
                        async: false,
                        success: function (data) {
                             $('#msx').show();
                            if(data.id=="0"){

                                 $.toast({
                                    heading: 'Gestion de stock',
                                    text: data.msg,
                                    position: 'top-right',
                                    loaderBg: '#ff6849',
                                    icon: 'error',
                                    hideAfter: 3500

                                });
                            }else{


                                  $.toast({
                                        heading: 'Gestion de stock',
                                        text:data.msg,
                                        position: 'top-right',
                                        loaderBg: '#ff6849',
                                        icon: 'success',
                                        hideAfter: 3500,
                                        stack: 6
                                    });
                                  $('#bon option[value="'+$('#bon').val()+'"]').remove();
                                  $('#mode').val(0);
                            $('#mode').change();
                            $('#dateliv').val("");
                                affiche();
                            }

                        },error:function (data) {

                            }
                        });



                        });

              });

            function affiche()
    {

    try{
    var oTABLE=$('#example1').DataTable({
    "bProcessing":true,
    "sAjaxSource":"{% url 'gestionstock:getboncommande' %}?validation_boncmd="+$('#bon').val(),
    "columns":[

    {"data":'id'},
    {"data":'article__designation'},

    {"data":'quantite'},
        {"data":'emballage__emballage'},
        {#{"data":'designation'},#}
    {"data":'prix_unitaire'},
            {"data":'commande__tiers__nompostnom'},
    {"data":'commande__datejour'}

    ],

    "bDestroy":true
    });
    //alert(data);
    }catch(e){}
    } 


     function livree(idass) {
                 if ($('#qtecmd').val()==""){
                                     $.toast({
                                    heading: 'Gestion de stock',
                                    text: "Vérifier la quantitée",
                                    position: 'top-right',
                                    loaderBg: '#ff6849',
                                    icon: 'error',
                                    hideAfter: 3500

                                });
                         return false;
                     }

                 if ($('#pa').val()==""){

                         $.toast({
                                    heading: 'Gestion de stock',
                                    text: "Vérifier le prix d'achat",
                                    position: 'top-right',
                                    loaderBg: '#ff6849',
                                    icon: 'error',
                                    hideAfter: 3500

                                });
                         return false;
                     }

               $.ajax({
                    url:  "{% url 'gestionstock:boncommandevalidemodi' %}",
                    data: {
                        "id":idass,
                        "qte":$('#qtecmd').val(),
                        "pa":$('#pa').val(),
                         'csrfmiddlewaretoken': '{{ csrf_token }}'
                              },
                    type: 'POST',
                    success: function (data) {

                                  $('#btnmodal').click();
                                   if(data.id=="0"){

                                 $.toast({
                                    heading: 'Gestion de stock',
                                    text: data.msg,
                                    position: 'top-right',
                                    loaderBg: '#ff6849',
                                    icon: 'error',
                                    hideAfter: 3500

                                });
                            }else{


                                  $.toast({
                                        heading: 'Gestion de stock',
                                        text:data.msg,
                                        position: 'top-right',
                                        loaderBg: '#ff6849',
                                        icon: 'success',
                                        hideAfter: 3500,
                                        stack: 6
                                    });
                                   $('#qtecmd').val('');
                                   $('#pa').val('0');
                                affiche();
                            }

                     },
                         error: function (data) {

                         }
                    });
            }


 </script>

 {% endblock %}