 {% extends 'main.html' %}
{% load static %}


{% block style %}
            <link href="{% static 'assets/vendor_components/select2/dist/css/select2.min.css' %}" rel="stylesheet">
            <link href="{% static 'assets/vendor_components/datatable/datatables.min.css' %}" rel="stylesheet">


        {% endblock %}
 {% block title %}



         
            <h3>
        Plat
        </h3>
        <ol class="breadcrumb" style="background: transparent">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
            <li class="breadcrumb-item" aria-current="page">Recettes</li>
            <li class="breadcrumb-item active">Plat</li>
       
        </ol>

          {% endblock %}

{% block content %}



	<div class="col-12">

								
			  <div class="box">
				 
				<div class="box-body">
                <form action="#" id="fprm2" method="post" >
                                {% csrf_token %}
				  <div class="form-group row">


                         <div class="col-md-12">

                             <label>Plat</label>
                             <select  name="recette" id="recette" class="form-control select2" >


                             </select>
                         </div>



                  </div>

                 <div class="form-group row">

                    <div class="col-md-6" >

                             <label>Produits/Recettes</label>
                             <select name="produit" id="produit" class="form-control select2">
                                 {% for i in produit  %}
                                     <option value="{{i.article}}" data-categorie="0" >{{ i.designation}}</option>
                                 {% endfor %}
                                {% for i in recettes  %}
                                     <option value="{{i.id}}" data-categorie="1" >{{ i.libelle}}</option>
                                 {% endfor %}

                             </select>
                         </div>
                     <div class="col-md-2" id="emb_">

                         <label>Unit.</label>
                         <select name="emballage" id="emballage" class="form-control" style="background-color: #0b0b0b" >


                         </select>
                     </div>
                     <div class="col-md-2" id="qte_">
                         <label>Qte</label>
                         <input type="text" name="qte" value="0" id="qte" class="form-control" placeholder="">
                         <input type="hidden" name="client" value="1" id="client" class="form-control">
                     </div>
                     <div class="col-md-2" id="prix_">
                         <label>P.U</label>
                         <input type="text" name="prix" value="0" id="prix" class="form-control" placeholder="">
                     </div>


                 </div>

                     <div class="form-group row">
                         <div class="col-sm-9 offset-2">
                     <button onclick="ajoutrecette('non');" type="button" class="btn btn-outline btn-info mb-5">Valider Produit/Recettes</button>&nbsp; <button onclick="ajoutrecette('oui');" type="button" class="btn btn-outline btn-danger mb-5">Supprimer Produit/Recettes</button>&nbsp;<label id="tot" style="size:25px">Tot. 0</label>
                         </div>
                     </div>

                     <div class="table-responsive">
                         <table id="example2" class="table table-bordered table-striped">
                             <thead style="background:gray">
                             <tr>


                                 <th>#</th>
                                 <th>Produit</th>
                                 <th>Unit.</th>
                                 <th>Qte</th>
                                 <th>P.U</th>
                                 <th>Obs</th>
                                 <th style="display: none"></th>

                             </tr>
                             </thead>
                             <tbody>


                             </tbody>

                         </table>
                     </div>

                     </p>

                 </form>
				  <!-- /.form group -->


			  </div>
			  </div>

			</div>



 {% endblock %}

 {% block script %}

            <script src="{% static 'assets/vendor_components/bootstrap-select/dist/js/bootstrap-select.js' %}"></script>
            <script src="{% static 'assets/vendor_components/select2/dist/js/select2.full.js' %}"></script>
            <script src="{% static 'assets/vendor_components/datatable/datatables.min.js' %}"></script>

            	 <script>
            $(document).ready(function() {
             $('.select2').select2();


                $('#example2').DataTable();

                $('#example2 tbody').on('dblclick','tr',function(){




                    //$("#produit option:contains("+this.cells[0].textContent+")").attr('selected', 'selected');

                    if(this.cells[5].textContent==""){
                        $("#produit").val(this.cells[0].textContent);
                        $('#produit').change();
                        $('#emballage').val(this.cells[2].textContent);
                        $('#emballage').change();
                        $('#qte').val(this.cells[3].textContent);
                        $('#prix').val(this.cells[4].textContent);
                        $('#prix_').show()
                        $('#emb_').show()
                        $('#qte_').show()
                    }else{
                        $("#produit").val(this.cells[0].textContent);
                        $('#produit').change();
                        $('#prix_').hide()
                        $('#emb_').hide()
                        $('#qte_').hide()

                    }




                });
                {#$('#emballage').change(function (e) {#}
                {##}
                {#       $.ajax({#}
                {#    url:  "{% url 'gestionstock:getprixemballage' %}",#}
                {#    data: {#}
                {#        'csrfmiddlewaretoken': '{{ csrf_token }}',#}
                {#        'emballage':$('#emballage').val(),#}
                {#        'produit': $('#produit').val()#}
                {#    },#}
                {#    type: 'POST',#}
                {#    success: function (data) {#}
                {##}
                {#        $('#prix').val(data.prix)#}
                {##}
                {##}
                {#    },#}
                {#    error: function (data) {#}
                {##}
                {#    }#}
                {#});#}
                {##}
                {#});#}

                $('#recette').change(function (e) {

                    affiche2();

                });

                $('#client').change(function (e) {

                    affiche2();

                });

                $('#produit').change(function (e) {

                    getemb();

                });

 modalrecette();
 getemb();











              });

            function modalrecette(){

                $('#recette').children().remove();
                //recettes get
                $.ajax({
                    url:  "{% url 'gestionstock:getrecettes2' %}",
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    type: 'POST',
                    success: function (data) {

                        $.each(data.data,function(key,value){


                            $('#recette').append($('<option>',{
                                value:value.id,
                                text:value.libelle
                            }));




                        });
                        affiche2();

                    },
                    error: function (data) {

                    }
                });



            }

            function getemb(){
                var xx=$('#produit option:selected').data("categorie")

                if (xx=="1"){
                    $('#prix_').hide()
                    $('#emb_').hide()
                    $('#qte_').hide()
                    return false
                }else{
                    $('#prix_').show()
                    $('#emb_').show()
                    $('#qte_').show()
                }
                $('#prix').val('')
                $('#emballage').children().remove();
                $.ajax({
                    url: '{% url 'gestionstock:getlibemballage' %}',
                    type: 'POST',
                    data:{
                        "produit":$('#produit').val(),
                        'csrfmiddlewaretoken': '{{ csrf_token }}'

                    },
                    async: false,
                    success: function (data) {

                         if(data.emb1!==null){
                               $('#emballage').append($('<option>',{
                            value:data.emb1,
                            text:data.emb1
                        }));
                         }

                        if(data.emb2!==null){
                        $('#emballage').append($('<option>',{
                            value:data.emb2,
                            text:data.emb2
                        })); }

                        $('#prix').val(data.pa);
                        $('#emballage').change();




                    },error:function (data) {

                    }
                });
            }

            function ajoutrecette(sup){


                    var xx=$('#produit option:selected').data("categorie")

                if (xx=="1"){

                }else{
                    if($('#qte').val()<=0){
                    return false;
                        }
                }

                $.ajax({
                    url:  "{% url 'gestionstock:plat' %}",
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'recette': $('#recette').val(),
                        'produit': $('#produit').val(),
                        'categorie': $('#produit option:selected').data('categorie'),
                        'prix': $('#prix').val(),
                        //'client': $('#client').val(),
                        'qte': $('#qte').val(),
                        'emballage': $('#emballage').val(),
                        'suppression': sup
                    },
                    type: 'POST',
                    success: function (data) {

                        $('#msx').show();
                        if(data.id=="0"){

                            $.toast({
                                heading: 'Gestion de stock',
                                text: data.msg,
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'error',
                                hideAfter: 3500

                            });
                        }else{


                            $.toast({
                                heading: 'Gestion de stock',
                                text:data.msg,
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 3500,
                                stack: 6
                            });
                            $('#pu').val('0');
                            $('#qte').val('0');

                            affiche2();
                        }


                    },
                    error: function (data) {

                    }
                });
            }

            function affiche2()
    {

    try{
    var oTABLE=$('#example2').DataTable({
    "bProcessing":true,
    "sAjaxSource":"{% url 'gestionstock:getrecettesdetail2' %}?recette="+$('#recette').val()+"&client="+$('#client').val(),
    "columns":[

    {"data":'produit__id',"autoWidth":true,"render":function (data, type, row, meta) {

                    if(row.recette_id==null){
                        return row.produit__id;
                    }else{
                        return row.recette_id;
                    }

            }},
    {"data":'produit__designation'},
    {"data":'emballage__emballage'},
    {"data":'qte'},
    {"data":'produit__pa'}
        ,
            {"data":'obs'},
    {"data":'total',"autoWidth":true,"visible":false,"render":function (data){
                $('#tot').html("Total : "+data);
                return data;
            }}
    ],

    "bDestroy":true
    });

    }catch(e){}
    }
 </script>

 {% endblock %}