 {% extends 'main.html' %}
{% load static %}


{% block style %}
            <link href="{% static 'assets/vendor_components/select2/dist/css/select2.min.css' %}" rel="stylesheet">
            <link href="{% static 'assets/vendor_components/datatable/datatables.min.css' %}" rel="stylesheet">
<style>
{#input[type=text],input[type=button], input[type=file], input[type=number],select {#}
{#    font-size: 30px;#}
{#  padding: 12px 20px;#}
{#  margin: 8px 0;#}
{#  box-sizing: border-box;#}
{#}#}
{##}
{#button{#}
{#    font-size: 30px;#}
{#  padding: 12px 20px;#}
{#  margin: 8px 0;#}
{#  box-sizing: border-box;#}
{#}#}
{#label{#}
{#    font-size: 30px;#}
{#}#}
</style>
        {% endblock %}
 {% block title %}



         
            <h3>
        Création Fiche Tech./Plat
        </h3>
        <ol class="breadcrumb" style="background: transparent">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
            <li class="breadcrumb-item" aria-current="page">Recettes</li>
            <li class="breadcrumb-item active">Création Fiche Tech./Plat</li>
       
        </ol>

          {% endblock %}

{% block content %}



	<div class="col-12">

								
			  <div class="box">
				 
				<div class="box-body">
                <form  id="fprm2" method="post"  enctype="multipart/form-data">

				  <!-- Color Picker -->
				  <div class="form-group row"  >

                  <div class="col-sm-12">
								<label>Désignation</label>
                      <input type="text" id="designation"  required name="designation" class="form-control" >
                      <input type="hidden" id="idrecette"  name="idrecette" value="0" class="form-control" >
                          {% csrf_token %}

					</div>

                      <div class="col-sm-3">
                        <label>Catégorie </label>
                        <select  name="categorie" id="categorie" class="form-control select2" >


                             <option value="0" >Fiche Technique</option>
                             <option value="1" >Plateau</option>


                     </select>


					</div>
{#                      <div class="col-sm-3">#}
{#								<label>P.U</label>#}
{#                      <input type="text" id="prix"  required name="prix" class="form-control" >#}
{##}
{##}
{#					</div>#}


{#                      <div class="col-sm-3">#}
{#								<label>Image</label>#}
{#                      <input type="file" id="img" name="img" class="form-control" >#}
{#					  </div>#}

					
				  </div>

				  <!-- /.form group -->

				  <!-- Color Picker -->
				  <div class="form-group row">

					<div class="col-sm-4" style="margin-top:22px">
								<button id="but_upload" type="submit" class="btn btn-outline btn-info mb-5" >Valider</button>
					</div>
					
					<!-- /.input group -->
				  </div>
                 </form>
				  <!-- /.form group -->

				  <!-- time Picker -->
				  
					<div class="form-group row">
					  <div class="col-sm-12">

					    <div class="box">
					 
					<!-- /.box-header -->
					<div class="box-body">
						<div class="table-responsive">
						  <table id="example1" class="table table-bordered table-striped">
							<thead style="background:gray">
								<tr>
									<th width="30px">#</th>

									<th>Désignation</th>
                                    <th>Categorie</th>

{#									<th width="100px">Image</th>#}
									<th width="200px">Action</th>

								</tr>
							</thead>
							<tbody>

								
							</tbody>
							<tfoot style="background:gray">
								<tr>
									<th>#</th>

									<th>Désignation</th>
									<th>Categorie</th>

{#									<th>Image</th>#}
									<th>Action</th>

								</tr>
							</tfoot>
						  </table>
						</div>
					</div>
					<!-- /.box-body -->
				  </div>
					</div>
					<!-- /.form group -->
			 
				</div>
				<!-- /.box-body -->
			  </div>
			  </div>

			</div>



 {% endblock %}

 {% block script %}

            <script src="{% static 'assets/vendor_components/bootstrap-select/dist/js/bootstrap-select.js' %}"></script>
            <script src="{% static 'assets/vendor_components/select2/dist/js/select2.full.js' %}"></script>
            <script src="{% static 'assets/vendor_components/datatable/datatables.min.js' %}"></script>

            	 <script>
            $(document).ready(function() {
            	
             $('.select2').select2();
             
             $('#example1').DataTable();




                $(document).on("click", ".delete", function () {
                             $('#idrecette').val($(this).data('id'));
                            swal({
                                    title: "Confirmation ?",
                                    text: "Voulez-vous vriament supprimer "+$(this).data('libelle'),
                                    type: "warning",
                                    showCancelButton: true,
                                    confirmButtonColor: "#DD6B55",
                                    confirmButtonText: "Supprimer",
                                    cancelButtonText: "Annuler",
                                    closeOnConfirm: false
                                }, function(isConfirm){
                                            if(isConfirm==true){
                                                                         $.ajax({
                                        url: '{% url 'gestionstock:deleteproduction' %}',
                                        type: 'POST',
                                         data: {
                                            'id': $('#idrecette').val(),
                                             'csrfmiddlewaretoken':'{{ csrf_token }}'
                                      },
                                        async: true,
                                        success: function (data) {

                                            if(data.id=="0"){
                                               $.toast({
                                                    heading: 'Message',
                                                    text: data.msg,
                                                    position: 'top-right',
                                                    loaderBg: '#ff6849',
                                                    icon: 'error',
                                                    hideAfter: 3500

                                                });
                                            }else{
                                            $.toast({
                                                    heading: 'Message',
                                                    text:data.msg,
                                                    position: 'top-right',
                                                    loaderBg: '#ff6849',
                                                    icon: 'success',
                                                    hideAfter: 3500,
                                                    stack: 6
                                                });

                                              $('#idrecette').val('0');
                                              affiche();
                                              swal("Supprimer !", "L'opération effectuée", "success");


                                        }




                            },error:function (data) {

                                }
                            });

                                            }


                                });



                        });

                $(document).on("click", ".modify", function () {

                              $('#idrecette').val($(this).data('id'));
                                {#$('#img').attr('src',$(this).data('image'));#}
                              $('#designation').val($(this).data('libelle'));
                              if($(this).data('categorie')==false){
                                   $('#categorie').val("0");
                              }else{
                                   $('#categorie').val("1");
                              }

                              $('#categorie').change();



                        });



 affiche();
              $('#fprm2').submit(function (e) {


                            e.preventDefault();
                            var fd = new FormData($('#fprm2').get(0));
                            {#var files = $('#img')[0].files;#}
                            {#fd.append('img',files[0])#}
                            {##}
                            {#if(files.length > 0 ){#}
                            {#   fd.append('img',files[0])#}
                            {#};#}

                           // console.log(fd)

						   $.ajax({
                        url: '{% url 'gestionstock:production' %}',
                        type: 'POST',
                        data:fd,
                        processData: false,
                        contentType: false,
                        async: false,
                        success: function (data) {
                             $('#msx').show();
                            if(data.id=="0"){

                                 $.toast({
                                    heading: 'Gestion de stock',
                                    text: data.msg,
                                    position: 'top-right',
                                    loaderBg: '#ff6849',
                                    icon: 'error',
                                    hideAfter: 3500

                                });
                            }else{


                                  $.toast({
                                        heading: 'Gestion de stock',
                                        text:data.msg,
                                        position: 'top-right',
                                        loaderBg: '#ff6849',
                                        icon: 'success',
                                        hideAfter: 3500,
                                        stack: 6
                                    });
                                   $('#designation').val('');
                                   $('#prix').val('');
                                   $('#idrecette').val('0');

                                affiche();
                            }

                        },error:function (data) {

                            }
                        });



                        });










              });


            function affiche()
    {

    try{
    var oTABLE=$('#example1').DataTable({
    "bProcessing":true,
    "sAjaxSource":"{% url 'gestionstock:getrecette' %}",
    "columns":[

    {"data":'id'},

    {"data":'libelle'},
    {"data":'categorie'},
    {#{"data":'image',"render":function (data, type, row, meta){#}
    {##}
    {#                            return '<a class="media media-single" href="#"><img class="w-80 rounded" src="{{ MEDIA_URL }}'+data+'" alt="..."></a>'#}
    {##}
    {#}},#}
    {"data":'id',"render":function (data, type, row, meta){

                                {#return '{% if perms.gestionstock.change_recettes %}<button type="button" class="modify btn btn-outline btn-rounded btn-primary mb-5" data-id="'+row.id+'" data-libelle="'+row.libelle+'" data-image="{{ MEDIA_URL }}'+row.image+'">Modifier</button>{% endif %}{% if perms.gestionstock.delete_recettes %}<button type="button" class="delete btn btn-outline btn-rounded btn-danger mb-5" data-id="'+row.id+'" data-libelle="'+row.libelle+'">Supprimer</button>{% endif %}'#}
                                return '{% if perms.gestionstock.change_recettes %}<button type="button" class="modify btn btn-outline btn-rounded btn-primary mb-5" data-id="'+row.id+'" data-libelle="'+row.libelle+'" data-categorie="'+row.categorie+'"  >Modifier</button>{% endif %}{% if perms.gestionstock.delete_recettes %}<button type="button" class="delete btn btn-outline btn-rounded btn-danger mb-5" data-id="'+row.id+'" data-libelle="'+row.libelle+'">Supprimer</button>{% endif %}'


    }},

    ],

    "bDestroy":true
    });
    //alert(data);
    }catch(e){}
    }

 </script>

 {% endblock %}