 {% extends 'main.html' %}
{% load static %}


{% block style %}
            <link href="{% static 'assets/vendor_components/select2/dist/css/select2.min.css' %}" rel="stylesheet">
            <link href="{% static 'assets/vendor_components/datatable/datatables.min.css' %}" rel="stylesheet">

        {% endblock %}
 {% block title %}



     <div class="row" id="msx" style="display: none">
            <div class="col-lg-12">
           <div role="alert" id="stl">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Message : </strong> <label id="lbl"></label>
            </div>
            </div>
        </div>
         
            <h3>
        Inventaire Théorique
        </h3>
        <ol class="breadcrumb" style="background: transparent">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="breadcrumb-item" aria-current="page">Rapport</li>
            <li class="breadcrumb-item active">Inventaire Théorique</li>
        </ol>

          {% endblock %}

{% block content %}



	<div class="col-12">

								
			  <div class="box">
 <div id="my-boxx"> </div>
				<div class="box-body">
                <form action="#" id="fprm2" method="post" >
                                {% csrf_token %}
				  <!-- Color Picker -->
				  <div class="form-group row">
                                     <div class="col-sm-3">
                <label>Date</label>
                                         <input type="date"  value="{% now 'Y-m-d' %}" name="dateop" required id="dateop" class="form-control"/>

                  </div>
                      <div class="col-sm-4" style="margin-top:22px">
							 <button id="priseinventaire" type="button" class="btn btn-outline btn-info mb-5">Imprimer</button>
					</div>
				  </div>


                 </form>
			  </div>
			  </div>
							 

			  <!-- /.box -->
			</div>



 {% endblock %}

 {% block script %}

            <script src="{% static 'assets/vendor_components/bootstrap-select/dist/js/bootstrap-select.js' %}"></script>
            <script src="{% static 'assets/vendor_components/select2/dist/js/select2.full.js' %}"></script>
            <script src="{% static 'assets/vendor_components/datatable/datatables.min.js' %}"></script>

            	 <script>
            $(document).ready(function() {

                $('.select2').select2();
                $('#priseinventaire').click(function (e) {

                        $('#my-boxx').html('');
                           $('#my-boxx').show();
    var cmp=0;

    $.ajax({
     url: '{% url 'gestionstock:rapinventairethéorique' %}',
    type: 'POST',
     data:{
         'csrfmiddlewaretoken': '{{ csrf_token }}',
         'dateop': $('#dateop').val()

     },
    beforeSend: function(){
        $('#my-boxx').html('<div class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div></div>');
        $('.progress-bar').animate({width: "30%"}, 100);

        setTimeout(function(argument) {
          $('.progress-bar').animate({width: "55%"}, 100);
        }, 10000);

    },

       xhr: function(){
       var xhr = new window.XMLHttpRequest();
       //Upload progress
       xhr.upload.addEventListener("progress", function(evt){
       if (evt.lengthComputable) {
         //var percentComplete = evt.loaded / evt.total;
          var percent = Math.round((evt.loaded / evt.total) * 100);
         //  if (percent == 100)
         //     {
         //        console.log("complet");

         //     }
         // //Do something with upload progress
         // console.log(percent);
         }
       }, false);
     //Download progress
       xhr.addEventListener("progress", function(evt){
         if (evt.lengthComputable) {
         }
       }, false);
       return xhr;
     },
    success: function(d){
       if(d=="true"){
         $('.progress-bar').animate({width: "100%"}, 100);
            setTimeout(function(){
                $('.progress-bar').css({width: "100%"});
                setTimeout(function(){
                    $('#my-boxx').hide();
                }, 100);
            }, 500);
          window.open('{{ MEDIA_URL }}theorique.pdf');


         }else{
           $.toast({
                                    heading: 'Gestion de stock',
                                    text: d,
                                    position: 'top-right',
                                    loaderBg: '#ff6849',
                                    icon: 'error',
                                    hideAfter: 3500

                                });
            $('.progress-bar').animate({width: "100%"}, 100);
            setTimeout(function(){
                $('.progress-bar').css({width: "100%"});
                setTimeout(function(){
                    $('#my-boxx').hide();
                }, 100);
            }, 500);
        }

    },
    error: function(request, status, err) {
        alert((status == "timeout") ? "Timeout" : "error: " + request + status + err);
    }
});
                });




              });



 </script>

 {% endblock %}

