{% extends 'main.html' %}
{% load static %}

{% block style %}


{% endblock %}
 {% block title %}
     <button style="display:none;" id="btnmodaltaux" type="button" class="btn btn-rounded btn-info" data-toggle="modal" data-target="#modal-filltaux">

     </button>
     <!-- Modal -->
     <div class="modal modal fade" id="modal-filltaux" tabindex="-1">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header">
                     <h5 class="modal-title" id="titre"></h5>
                     <button type="button" class="close" data-dismiss="modal">
                         <span aria-hidden="true">&times;</span>
                     </button>
                 </div>
                 <div class="modal-body">
                     <p>Change :</p>
                     <div class="row">
                         <div class="col-md-4">
                             <p>Taux <input type="text" name="tx" id="tx" class="form-control" value="{{ location.0.txchange }}"></p>
                         </div>
                         <div class="col-md-4">
                             <p>Montant Reçu CDF <input type="text" name="mtncdf" id="mtncdf" class="form-control" value="0"></p>
                         </div>
                         <div class="col-md-4">
                             <p>Montant Reçu USD <input type="text" name="mtnusd" id="mtnusd" class="form-control" value="0"></p>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-md-6">
                            <p>Prix CDF <input type="text"  readonly name="prixcdf" id="prixcdf" class="form-control"></p>
                         </div>
                         <div class="col-md-6">
                            <p>Prix USD <input type="text" readonly name="prixusd" id="prixusd" class="form-control"></p>
                         </div>
                     </div>

                     <p>Retour CDF <input readonly type="text" name="retourcdf" id="retourcdf" class="form-control"></p>
                     <p>Retour USD <input readonly type="text" name="retourusd" id="retourusd" class="form-control"></p>
                     <input type="hidden" name="idpro" value="" id="idpro" class="form-control">
                     <p><button id="ajoutarticle2" type="button" class="btn btn-outline btn-info mb-5">Ajouter</button>
                     <button type="button" class="btn btn-danger btn-info mb-5" data-dismiss="modal">Fermer</button></p>
                 </div>

             </div>
         </div>
     </div>
     <!-- /.modal -->

         
            <h3>
                Facturation N° : <strong id="autoid"></strong> {% if perms.pointvente.validation_facture %}&nbsp; <button class="btn btn-success mb-5" id="btnvalidation">Validation</button>{% endif %}
                {% if request.session.check == '1' %}<br><br>Serveur : <strong>{{ request.GET.serveur|to_get_name_serveur }}</strong> | Table : <strong>{{ request.GET.tablelib }}</strong>{% endif %}
        </h3>
        <ol class="breadcrumb" style="background: transparent">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="breadcrumb-item" aria-current="page">Point de vente</li>
            <li class="breadcrumb-item active">Facturation</li>
        </ol>

          {% endblock %}

{% block content %}


        <div class="row">
            <div class="col-12">
                <div class="box">
                 <div id="my-boxx"> </div>
                    <div class="box-body p-0">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                                <div>
                                    <input class="form-control p-20" style="background-color: white;color: white" type="text" id="idrech" data-ref="input-search" placeholder="Recherche...">
                                </div>
                            </div>
                          <div class="col-lg-2">
                                <div>
                                    {% if request.session.check == '1' %}
                                        <a href="{% url 'pointvente:commande' %}" type="button" class="btn btn-outline btn-info mb-5">Nouvelle commande</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <ul class="list-inline text-center mb-0">
                                    <li data-filter="all" id="tous"><a href="#" class="text-bold list-link hover-warning p-15" >Tous</a></li>
                                    {% for cat in categories %}
                                        <li data-filter=".{{ cat.designation|to_and }}"><a href="#" class="text-bold list-link hover-warning p-15">{{ cat.designation }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-12">
                <div class="box" id="btnmodal" style="display: none">
                    <div class="box-header with-border">
                        <p>Produit : <b id="titrepro"></b></p>
                        <p>Qte <input type="text" name="qte" id="qte" class="form-control" value="1"></p>
                        <p>PAU <input type="text" name="pa" id="pa" class="form-control"><input type="hidden" name="procat" id="procat" class="form-control"></p>
                        <p>
                        {% for foo in commentaire %}
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input commentaire" type="checkbox" name="commentaire" id="inlineCheckbox{{ foo.id }}" value="{{ foo.libelle }}">
                                  <label class="form-check-label" for="inlineCheckbox{{ foo.id }}">{{ foo.libelle }}</label>
                                </div>
                        {% endfor %}

                        </p>
                        <p>
                            <div class="text-center bt-1 border-light p-2">
                         <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"  value="TA" checked>
                          <label class="form-check-label" for="flexRadioDefault2">
                            EMPORTER
                          </label>
                        </div>
                         <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="SP" >
                          <label class="form-check-label" for="flexRadioDefault1">
                            SUR PLACE
                          </label>
                         </div>

                         <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" value="LIV">
                          <label class="form-check-label" for="flexRadioDefault3">
                            LIVRER
                          </label>
                        </div>
                            </div>

                        </p>
                        <input type="hidden" name="idpro" value="" id="idpro" class="form-control">
                        <input type="hidden" name="autonum"  id="autonum" class="form-control">
                        <p><button id="ajoutarticle" type="button" class="btn btn-outline btn-info mb-5">Ajouter</button>
                            <button type="button" class="btn btn-danger btn-info mb-5" id="fermer">Fermer</button></p>
                    </div>



                </div>
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Liste vente</h4>
                    </div>
                    <div class="box-body p-0">
                        <div id="tempo" class="media-list media-list-hover media-list-divided inner-user-div" style="height: 345px">



                        </div>
                    </div>


                     <div class="text-center bt-1 border-light p-2">
                        <a class="text-lowercase d-block font-size-12" href="#" ><strong id="tempotot" style="font-size: 20px"></strong></a>
                    </div>
                    <div class="text-center bt-1 border-light p-2">
                        {% if request.session.check == '1' %}
                             <button onclick="cuisinetempo()" type="button" class="btn btn-outline btn-success mb-5">Cuisine</button>
                             <button onclick="Bar()" type="button" class="btn btn-outline btn-warning mb-5">Bar</button>
                            <a href="{% url 'pointvente:commande' %}" type="button" class="btn btn-outline btn-info mb-5">Nouvelle</a>
                        {% endif %}
                        <button id="btnvalidercmd" onclick="valider()" type="button" class="btn btn-outline btn-warning mb-5">Cl ôture Commande</button>
                    </div>

                </div>
            </div>
            <div class="col-lg-9 col-12">
                <div class="row ico-filter" data-ref="ico-filter">
                    {% for recette in recettes %}
                        <div class="col-12 col-md-6 col-lg-4 mix {{ recette.famille|to_and }} {{ recette.libelle|lower }} modamoda" data-prix="{{ recette.pu }}" data-id="{{ recette.id }}" data-famille="{{ recette.famille }}" data-titre="{{ recette.libelle|lower }}" >
                            <div class="box box-body bg-hexagons-dark pull-up">
                                <div class="media align-items-center p-0">
                                    <div class="text-center">
                                        <a href="#"><i class="cc {{ recette.famille|to_and_icon }} mr-5" title="{{ recette.famille|to_and_icon }}"></i></a>
                                    </div>
                                    <div>
                                        <h3 class="no-margin text-bold">{{ recette.libelle|lower }}</h3>
                                        <span>{{ recette.famille }}</span>
                                    </div>
                                </div>
                                <div class="flexbox align-items-center mt-25" >
                                    <div>
                                        <p class="no-margin font-weight-600"><span class="text-warning">CDF {{ recette.pu }}</span></p>
                                        <p class="no-margin">Hotel Léon</p>
                                    </div>
                                    <div class="text-right">
                                        <p class="no-margin font-weight-600"><span class="text-warning"></span></p>
                                        <p class="no-margin"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
{#                <nav>#}
{#                    <ul class="pagination justify-content-center">#}
{#                        <li class="page-item disabled">#}
{#                            <a class="page-link" href="#">#}
{#                                <span class="ion-ios-arrow-thin-left"></span>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="page-item active"><a class="page-link" href="#">1</a></li>#}
{#                        <li class="page-item"><a class="page-link" href="#">2</a></li>#}
{#                        <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#                        <li class="page-item"><a class="page-link" href="#">4</a></li>#}
{#                        <li class="page-item"><a class="page-link" href="#">5</a></li>#}
{#                        <li class="page-item">#}
{#                            <a class="page-link" href="#">#}
{#                                <span class="ion-ios-arrow-thin-right"></span>#}
{#                            </a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </nav>#}
            </div>
        </div>




 {% endblock %}

 {% block script %}

     <script src="{% static 'assets/vendor_components/mixitup-v3/dist/mixitup.js' %}"></script>
     <script src="{% static 'js/pages/ico-filter.js' %}"></script>
     <script src="{% static '/js/pages/list.js' %}"></script>
     <script>
 $(document).ready(function() {

                        {% if request.session.check == '1' %}
                            {% if request.GET.serveur  and  request.GET.table %}

                            {% else %}
                                window.location.href="{% url 'pointvente:home' %}"
                            {% endif %}
                        {% endif %}

                        affiche();
                        autonum();
                         $('.ti-align-left,.mixitup-control-active').click();
                        $('#ajoutarticle').click(function (e) {

                    livree();

           });

                        $('#mtncdf').change(function (e) {
                            $('#retourcdf').val(parseFloat($('#mtncdf').val())-parseFloat($('#prixcdf').val()));
                            $('#retourusd').val(parseFloat($('#retourcdf').val())/parseFloat($('#tx').val()));
                        });
{% if perms.pointvente.validation_facture %}
                        $('#btnvalidation').click(function (e) {
                            window.location.href='{% url 'pointvente:validation' %}'
                        });
{% endif %}

                        $('#mtnusd').change(function (e) {

                             $('#retourusd').val(parseFloat($('#mtnusd').val())-parseFloat($('#prixusd').val()));
                            $('#retourcdf').val(parseFloat($('#retourusd').val())*parseFloat($('#tx').val()));
                        });


                        $('.modamoda').click(function (e) {

                        $('#procat').val($(this).attr("data-famille"));
                        $('#titrepro').html($(this).attr("data-titre"));
                        $('#idpro').val($(this).attr("data-id"));
                        $('#pa').val($(this).attr("data-prix"));

v(1);





                         $('#qte').select();
                       //$('#tous').click();



                       });

                        $('#fermer').click(function (e) {

                        v(0);
                                         });

                        $('#qte').keypress(function (e) {
                         var key = e.which;
                         if(key == 13)  // the enter key code
                          {
                             livree();
                          }
                        });

                        $('#pa').keypress(function (e) {
                         var key = e.which;
                         if(key == 13)  // the enter key code
                          {
                            livree();
                          }
                        });

               });


                function livree() {

                 if ($('#qte').val()==""){
                                     $.toast({
                                    heading: 'Point de vente',
                                    text: "Vérifier la quantitée",
                                    position: 'top-right',
                                    loaderBg: '#ff6849',
                                    icon: 'error',
                                    hideAfter: 3500

                                });
                         return false;
                     }if ($('#pa').val()==""){

                     $.toast({
                                    heading: 'Point de vente',
                                    text: "Vérifier le prix",
                                    position: 'top-right',
                                    loaderBg: '#ff6849',
                                    icon: 'error',
                                    hideAfter: 3500

                                });
                         return false;
                     }

                 var fruitArray = [];
                 $.each($("input[name='commentaire']:checked"), function (K, V) {
                    fruitArray.push(V.value);
                });




               $.ajax({
                    url:  "{% url 'pointvente:addrectempo' %}",
                   {% if request.session.check == '1' %}

                            data: {
                        "id":$('#idpro').val(),
                        "qte":$('#qte').val(),
                        "designation":$('#titrepro').html(),
                        "famille":$('#procat').val(),
                        "pa":$('#pa').val(),
                        "serveur":{{ request.GET.serveur }},
                        "table": {{request.GET.table}},
                        "commentaire":fruitArray,
                        "categorie":$("input[name=flexRadioDefault]:checked").val(),
                        "autonum":$('#autonum').val(),
                         'csrfmiddlewaretoken': '{{ csrf_token }}'
                              }
                   {% else %}
                           data: {
                        "id":$('#idpro').val(),
                        "qte":$('#qte').val(),
                        "designation":$('#titrepro').html(),
                               "famille":$('#procat').val(),
                        "pa":$('#pa').val(),
                        "commentaire":fruitArray,
                        "categorie":$("input[name=flexRadioDefault]:checked").val(),
                        "autonum":$('#autonum').val(),
                         'csrfmiddlewaretoken': '{{ csrf_token }}'
                              }
                   {% endif %}
                    ,
                    type: 'POST',
                    success: function (data) {

                                 v(0);

                                   if(data.id=="0"){

                                 $.toast({
                                    heading: 'Point de vente',
                                    text: data.msg,
                                    position: 'top-right',
                                    loaderBg: '#ff6849',
                                    icon: 'error',
                                    hideAfter: 3500

                                });
                            }else{


                                  $.toast({
                                        heading: 'Point de vente',
                                        text:data.msg,
                                        position: 'top-right',
                                        loaderBg: '#ff6849',
                                        icon: 'success',
                                        hideAfter: 3500,
                                        stack: 6
                                    });
                                   $('#qte').val('1');
                                   $('#idpro').val('');
                                   $('#pa').val('');
                                   $('#idrech').val('');
                                   $('#idrech').select();

                                   $("input:checkbox").prop('checked', false);

                                affiche();
                            }

                     },
                         error: function (data) {

                         }
                    });
            }

                function affiche()
                {

                $.ajax({
                    url:  "{% url 'pointvente:addrectempoaff' %}",
                    type: 'GET',
                    {% if request.session.check == '1' %}

                            data: {
                        "serveur":{{ request.GET.serveur }},
                        "table": {{request.GET.table}}

                              },

                   {% endif %}
                    success: function (data) {

                $('#tempo').html(data.data);
            $('#tempotot').html(data.tot);

            $('#prixcdf').val(data.totcdf);
            $('#prixusd').val(parseFloat(data.totcdf)/parseFloat($('#tx').val()));

                                    {% if request.session.check == '1' %}
                                        if (data.data.length>0){
                                      $('#autonum').val(data.numerofac);
                                      $('#autoid').html(data.numerofac);
                                      $('#idrech').select();
                                       }
                                    {% endif %}




                     },
                         error: function (data) {

                         }
                    });

                }

                function supprimer(produit,id) {



                        $.ajax({
                            url: '{% url 'pointvente:addrectempodel' %}',
                            type: 'POST',
                            data:{
                                "csrfmiddlewaretoken":'{{ csrf_token }}',
                                "produit":produit,
                                "id":id
                            },
                            async: false,
                            success: function (data) {
                                $('#msx').show();
                                if(data.id=="0"){

                                    $.toast({
                                        heading: 'Point de vente',
                                        text: data.msg,
                                        position: 'top-right',
                                        loaderBg: '#ff6849',
                                        icon: 'error',
                                        hideAfter: 3500

                                    });
                                }else{


                                    $.toast({
                                        heading: 'Point de vente',
                                        text:data.msg,
                                        position: 'top-right',
                                        loaderBg: '#ff6849',
                                        icon: 'success',
                                        hideAfter: 3500,
                                        stack: 6
                                    });
                                      $('#qte').val('1');
                                   $('#idpro').val('');
                                   $('#pa').val('');
                                    affiche();
                                }

                            }
                        });




                }
                function autonum() {



                        $.ajax({
                            url: '{% url 'pointvente:numerorectempodel' %}',
                            type: 'POST',
                            data:{
                                "csrfmiddlewaretoken":'{{ csrf_token }}'
                            },
                            async: false,
                            success: function (data) {


                                      $('#autonum').val(data.tot);
                                      $('#autoid').html(data.tot);
                                       $('#idrech').select();





                            }
                        });




                }




                    {% if request.session.check == '1' %}
                         function cuisine() {

                              $.ajax({
                            url: '{% url 'pointvente:cuisine' %}',
                            type: 'GET',
                            data:{
                                "table": {{request.GET.table}},
                                "serveur": {{request.GET.serveur}}

                            },
                            async: true,
                            success: function (data) {

                                if(data.id=="0"){

                                    $.toast({
                                        heading: 'Point de vente',
                                        text: data.msg,
                                        position: 'top-right',
                                        loaderBg: '#ff6849',
                                        icon: 'error',
                                        hideAfter: 3500

                                    });
                                }else{


                                    $.toast({
                                        heading: 'Point de vente',
                                        text:data.msg,
                                        position: 'top-right',
                                        loaderBg: '#ff6849',
                                        icon: 'success',
                                        hideAfter: 3500,
                                        stack: 6
                                    });
                                }

                            }
                        });

                         }
                         function Bar() {

                              $.ajax({
                            url: '{% url 'pointvente:bar' %}',
                            type: 'GET',
                            data:{
                                "table": {{request.GET.table}},
                                "serveur": {{request.GET.serveur}}

                            },
                            async: true,
                            success: function (data) {

                                if(data.id=="0"){

                                    $.toast({
                                        heading: 'Point de vente',
                                        text: data.msg,
                                        position: 'top-right',
                                        loaderBg: '#ff6849',
                                        icon: 'error',
                                        hideAfter: 3500

                                    });
                                }else{


                                    $.toast({
                                        heading: 'Point de vente',
                                        text:data.msg,
                                        position: 'top-right',
                                        loaderBg: '#ff6849',
                                        icon: 'success',
                                        hideAfter: 3500,
                                        stack: 6
                                    });

                                    //imprimer
                                    var iframex = document.createElement('iframe');
                                    // iframe.id = 'pdfIframe'
                                    iframex.className='pdfIframe'
                                    document.body.appendChild(iframex);
                                    iframex.style.display = 'none';
                                    iframex.onload = function () {
                                        setTimeout(function () {
                                            iframex.focus();
                                            iframex.contentWindow.print(0);
                                            // document.body.removeChild(iframe)
                                        }, 1);
                                    };
                                    //add --kiosk --kiosk-printing icone chrome
                                    //add --kiosk-printing icone chrome
                                    iframex.src = "{{ MEDIA_URL }}facbar.pdf";


                                    //imprimer
                                }

                            }
                        });

                         }
                         function cuisinetempo() {

                              $.ajax({
                            url: '{% url 'pointvente:cuisinetempo' %}',
                            type: 'GET',
                            data:{
                                "table": {{request.GET.table}},
                                "serveur": {{request.GET.serveur}}

                            },
                            async: true,
                            success: function (data) {

                                if(data.id=="0"){

                                    $.toast({
                                        heading: 'Point de vente',
                                        text: data.msg,
                                        position: 'top-right',
                                        loaderBg: '#ff6849',
                                        icon: 'error',
                                        hideAfter: 3500

                                    });
                                }else{


                                    $.toast({
                                        heading: 'Point de vente',
                                        text:data.msg,
                                        position: 'top-right',
                                        loaderBg: '#ff6849',
                                        icon: 'success',
                                        hideAfter: 3500,
                                        stack: 6
                                    });

                                    //imprimer
                                    var iframex = document.createElement('iframe');
                                    // iframe.id = 'pdfIframe'
                                    iframex.className='pdfIframe'
                                    document.body.appendChild(iframex);
                                    iframex.style.display = 'none';
                                    iframex.onload = function () {
                                        setTimeout(function () {
                                            iframex.focus();
                                            iframex.contentWindow.print(0);
                                            // document.body.removeChild(iframe)
                                        }, 1);
                                    };
                                    //add --kiosk --kiosk-printing icone chrome
                                    //add --kiosk-printing icone chrome
                                    iframex.src = "{{ MEDIA_URL }}faccuisine.pdf";


                                    //imprimer
                                }

                            }
                        });

                         }
                    {% endif  %}






                function valider() {

                        {#setTimeout(function() { $('#mtncdf').focus() }, 1000);#}
                        {#$('#btnmodaltaux').click();#}
                        {#return false;#}

                    {% if request.session.check == '1' %}
                         var c=prompt("COMMENTAIRE");
                         //if(c){

                              $.ajax({
                            url: '{% url 'pointvente:validerrec' %}',
                            type: 'POST',
                            data:{
                                "csrfmiddlewaretoken":'{{ csrf_token }}',
                                "reference":c,
                                "table": {{request.GET.table}},
                                "serveur": {{request.GET.serveur}}

                            },
                            async: false,
                            success: function (data) {
                                $('#msx').show();
                                if(data.id=="0"){

                                    $.toast({
                                        heading: 'Point de vente',
                                        text: data.msg,
                                        position: 'top-right',
                                        loaderBg: '#ff6849',
                                        icon: 'error',
                                        hideAfter: 3500

                                    });
                                }else{


                                    $.toast({
                                        heading: 'Point de vente',
                                        text:data.msg,
                                        position: 'top-right',
                                        loaderBg: '#ff6849',
                                        icon: 'success',
                                        hideAfter: 3500,
                                        stack: 6
                                    });
                                      $('#qte').val('1');
                                   $('#idpro').val('');
                                   $('#pa').val('');
                                   $('#commentaire').text('');
                                    //imprimer(data.autonum,data.bon);


                                    //imprimer
                                    var iframe = document.createElement('iframe');
                                    // iframe.id = 'pdfIframe'
                                    iframe.className='pdfIframe'
                                    document.body.appendChild(iframe);
                                    iframe.style.display = 'none';
                                    iframe.onload = function () {
                                        setTimeout(function () {
                                            iframe.focus();
                                            iframe.contentWindow.print(0);
                                            // document.body.removeChild(iframe)
                                        }, 1);
                                    };
                                    //add --kiosk --kiosk-printing icone chrome
                                    //add --kiosk-printing icone chrome
                                    iframe.src = "{{ MEDIA_URL }}fac.pdf";


                                    //imprimer

                                   //imprimer
                                    var iframee = document.createElement('iframe');
                                    // iframe.id = 'pdfIframe'
                                    iframee.className='pdfIframe'
                                    document.body.appendChild(iframee);
                                    iframee.style.display = 'none';
                                    iframee.onload = function () {
                                        setTimeout(function () {
                                            iframee.focus();
                                            iframee.contentWindow.print(1);
                                            // document.body.removeChild(iframe)
                                        }, 1);
                                    };
                                    //add --kiosk --kiosk-printing icone chrome
                                    iframee.src = "{{ MEDIA_URL }}fac.pdf";
                                    //window.location.href='{% url "pointvente:commande" %}'






                                    autonum();
                                    affiche();
                                }

                            }
                        });
                        // }
                    {% else  %}
                        $.ajax({
                            url: '{% url 'pointvente:validerrec' %}',
                            type: 'POST',
                            data:{
                                "csrfmiddlewaretoken":'{{ csrf_token }}'

                            },
                            async: false,
                            success: function (data) {
                                $('#msx').show();
                                if(data.id=="0"){

                                    $.toast({
                                        heading: 'Point de vente',
                                        text: data.msg,
                                        position: 'top-right',
                                        loaderBg: '#ff6849',
                                        icon: 'error',
                                        hideAfter: 3500

                                    });
                                }else{


                                    $.toast({
                                        heading: 'Point de vente',
                                        text:data.msg,
                                        position: 'top-right',
                                        loaderBg: '#ff6849',
                                        icon: 'success',
                                        hideAfter: 3500,
                                        stack: 6
                                    });
                                      $('#qte').val('1');
                                   $('#idpro').val('');
                                   $('#pa').val('');
                                   $('#commentaire').text('');
                                    //imprimer(data.autonum,data.bon);


                                    //imprimer
                                    var iframe = document.createElement('iframe');
                                    // iframe.id = 'pdfIframe'
                                    iframe.className='pdfIframe'
                                    document.body.appendChild(iframe);
                                    iframe.style.display = 'none';
                                    iframe.onload = function () {
                                        setTimeout(function () {
                                            iframe.focus();
                                            iframe.contentWindow.print(0);
                                            // document.body.removeChild(iframe)
                                        }, 1);
                                    };
                                    //add --kiosk --kiosk-printing icone chrome
                                    //add --kiosk-printing icone chrome
                                    iframe.src = "{{ MEDIA_URL }}fac.pdf";


                                    //imprimer

                                   //imprimer
                                    var iframee = document.createElement('iframe');
                                    // iframe.id = 'pdfIframe'
                                    iframee.className='pdfIframe'
                                    document.body.appendChild(iframee);
                                    iframee.style.display = 'none';
                                    iframee.onload = function () {
                                        setTimeout(function () {
                                            iframee.focus();
                                            iframee.contentWindow.print(1);
                                            // document.body.removeChild(iframe)
                                        }, 1);
                                    };
                                    //add --kiosk --kiosk-printing icone chrome
                                    iframee.src = "{{ MEDIA_URL }}fac.pdf";






                                    autonum();
                                    affiche();
                                }

                            }
                        });
                    {% endif  %}





                }
                function v(id){
                 if (id==0) {
                            // Slide away
                            $('#btnmodal').animate({left: -($('#btnmodal').outerWidth() + 20)}, function() {
                                $('#btnmodal').hide();
                            });
                        }
                        else {
                            // Slide in
                            $('#btnmodal').show().css("left", -($('#btnmodal').outerWidth() + 20)).animate({left: 0});
                        }


                }

{#                function imprimer(id,bon) {#}
{##}
{#                        $('#my-boxx').html('');#}
{#                           $('#my-boxx').show();#}
{#    var cmp=0;#}
{##}
{#    $.ajax({#}
{#     url: '{% url 'pointvente:validerrec' %}',#}
{#    type: 'POST',#}
{#     data:{#}
{#         'csrfmiddlewaretoken': '{{ csrf_token }}',#}
{#         'imprimer': id,#}
{#         'bon': bon#}
{#     },#}
{#    beforeSend: function(){#}
{#        $('#my-boxx').html('<div class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div></div>');#}
{#        $('.progress-bar').animate({width: "30%"}, 100);#}
{##}
{#        setTimeout(function(argument) {#}
{#          $('.progress-bar').animate({width: "55%"}, 100);#}
{#        }, 10000);#}
{##}
{#    },#}
{##}
{#       xhr: function(){#}
{#       var xhr = new window.XMLHttpRequest();#}
{#       //Upload progress#}
{#       xhr.upload.addEventListener("progress", function(evt){#}
{#       if (evt.lengthComputable) {#}
{#         //var percentComplete = evt.loaded / evt.total;#}
{#          var percent = Math.round((evt.loaded / evt.total) * 100);#}
{#         //  if (percent == 100)#}
{#         //     {#}
{#         //        console.log("complet");#}
{##}
{#         //     }#}
{#         // //Do something with upload progress#}
{#         // console.log(percent);#}
{#         }#}
{#       }, false);#}
{#     //Download progress#}
{#       xhr.addEventListener("progress", function(evt){#}
{#         if (evt.lengthComputable) {#}
{#         }#}
{#       }, false);#}
{#       return xhr;#}
{#     },#}
{#    success: function(d){#}
{##}
{#       if(d=="true"){#}
{#         $('.progress-bar').animate({width: "100%"}, 100);#}
{#            setTimeout(function(){#}
{#                $('.progress-bar').css({width: "100%"});#}
{#                setTimeout(function(){#}
{#                    $('#my-boxx').hide();#}
{#                }, 100);#}
{#            }, 500);#}
{##}
{#            //imprimer#}
{#            var iframe = document.createElement('iframe');#}
{#            // iframe.id = 'pdfIframe'#}
{#            iframe.className='pdfIframe'#}
{#            document.body.appendChild(iframe);#}
{#            iframe.style.display = 'none';#}
{#            iframe.onload = function () {#}
{#                setTimeout(function () {#}
{#                    iframe.focus();#}
{#                    iframe.contentWindow.print(0);#}
{#                    // document.body.removeChild(iframe)#}
{#                }, 1);#}
{#            };#}
{#            //add --kiosk --kiosk-printing icone chrome#}
{#            //add --kiosk-printing icone chrome#}
{#            iframe.src = "{{ MEDIA_URL }}fac.pdf";#}
{##}
{##}
{#            //imprimer#}
{##}
{#           //imprimer#}
{#            var iframee = document.createElement('iframe');#}
{#            // iframe.id = 'pdfIframe'#}
{#            iframee.className='pdfIframe'#}
{#            document.body.appendChild(iframee);#}
{#            iframee.style.display = 'none';#}
{#            iframee.onload = function () {#}
{#                setTimeout(function () {#}
{#                    iframee.focus();#}
{#                    iframee.contentWindow.print(1);#}
{#                    // document.body.removeChild(iframe)#}
{#                }, 1);#}
{#            };#}
{#            //add --kiosk --kiosk-printing icone chrome#}
{#            iframee.src = "{{ MEDIA_URL }}fac.pdf";#}
{##}
{##}
{#             //imprimer#}
{#            var iframee1 = document.createElement('iframe');#}
{#            // iframe.id = 'pdfIframe'#}
{#            iframee1.className='pdfIframe'#}
{#            document.body.appendChild(iframee1);#}
{#            iframee1.style.display = 'none';#}
{#            iframee1.onload = function () {#}
{#                setTimeout(function () {#}
{#                    iframee1.focus();#}
{#                    iframee1.contentWindow.print(1);#}
{#                    // document.body.removeChild(iframe)#}
{#                }, 1);#}
{#            };#}
{#            //add --kiosk --kiosk-printing icone chrome#}
{#            iframee1.src = "{{ MEDIA_URL }}fac.pdf";#}
{##}
{##}
{#         }else{#}
           {#$.toast({#}
           {#                         heading: 'Point de vente',#}
           {#                         text: d,#}
           {#                         position: 'top-right',#}
           {#                         loaderBg: '#ff6849',#}
           {#                         icon: 'error',#}
           {#                         hideAfter: 3500#}
           {##}
           {#                     });#}
{#            $('.progress-bar').animate({width: "100%"}, 100);#}
{#            setTimeout(function(){#}
{#                $('.progress-bar').css({width: "100%"});#}
{#                setTimeout(function(){#}
{#                    $('#my-boxx').hide();#}
{#                }, 100);#}
{#            }, 500);#}
{#        }#}
{##}
{#    },#}
{#    error: function(request, status, err) {#}
{#        alert((status == "timeout") ? "Timeout" : "error: " + request + status + err);#}
{#    }#}
{#});#}
{#                }#}
     </script>

 {% endblock %}