 {% extends 'main.html' %}
{% load static %}


{% block style %}
            <link href="{% static 'assets/vendor_components/select2/dist/css/select2.min.css' %}" rel="stylesheet">
            <link href="{% static 'assets/vendor_components/datatable/datatables.min.css' %}" rel="stylesheet">

        {% endblock %}
 {% block title %}


         
            <h3>
        Profit Ventes
        </h3>
        <ol class="breadcrumb" style="background: transparent">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="breadcrumb-item" aria-current="page">Point de vente</li>
            <li class="breadcrumb-item active">Profit</li>
        </ol>

          {% endblock %}

{% block content %}



	<div class="col-12">

								
			  <div class="box">
				<div class="box-header with-border">
				  <h3 class="box-title">Profit Ventes</h3>
				</div>
				<div class="box-body">
                     <div id="my-box"> </div>
                <form action="#" id="fprm2" method="post" >
                                {% csrf_token %}
				  <!-- Color Picker -->
				 
				  <!-- /.form group -->

				  <!-- Color Picker -->
				  <div class="form-group row">
                       <div class="col-sm-4">
                            <label>Location</label>
                            <select class="form-control select2" id="location"  name="location">
                                {%  for foo in location %}
                                    <option value="{{ foo.location }}">{{ foo.designation}}</option>
                                {% endfor %}
                            </select>
                        </div>
					<div class="col-sm-2">
								<label>Date Début</label>
								<input type="date" id="dtd" value="{% now 'Y-m-d' %}" name="dtd" class="form-control">
					</div>
                   <div class="col-sm-2">
								<label>Date Fin</label>
								<input type="date" id="dtf" value="{% now 'Y-m-d' %}" name="dtf" class="form-control">
					</div>
 
					<div class="col-sm-4" style="margin-top:22px">
								<button id="ajoutarticle" type="submit" class="btn btn-outline btn-info mb-5">Afficher/Imprimer</button>
{#								<button id="ajoutarticle2" type="button" class="btn btn-outline btn-info mb-5">Afficher/Imprimer par produit</button>#}
{#								<button id="ajoutarticle3" type="button" class="btn btn-outline btn-info mb-5">Afficher/Imprimer Totaux</button>#}
					</div>
					
					<!-- /.input group -->
				  </div>
                 </form>
				  <!-- /.form group -->

				  <!-- time Picker -->
				  
					 
				<!-- /.box-body -->
			  </div>
			  </div>

			</div>



 {% endblock %}

 {% block script %}

            <script src="{% static 'assets/vendor_components/bootstrap-select/dist/js/bootstrap-select.js' %}"></script>
            <script src="{% static 'assets/vendor_components/select2/dist/js/select2.full.js' %}"></script>
            <script src="{% static 'assets/vendor_components/datatable/datatables.min.js' %}"></script>

            	 <script>
            $(document).ready(function() {
            	
             $('.select2').select2();

              $('#fprm2').submit(function (e) {
                         e.preventDefault();
 
                          creation();
                        

                         



                        });


               $('#ajoutarticle2').click(function (e) {
                         e.preventDefault();

                          creation2();






                        });
               $('#ajoutarticle3').click(function (e) {
                         e.preventDefault();

                          creation3();






                        });










              });
function creation2(){

     $('#my-box').html('');
                           $('#my-box').show();
    var cmp=0;

    $.ajax({
     url: '{% url 'pointvente:synthesepointvente' %}',
    type: 'POST',
     data:{
         'csrfmiddlewaretoken': '{{ csrf_token }}',
         'dtd': $('#dtd').val(),
           "idlocationuser":$('#location').val(),
         "locationuser":$('#location option:selected').text(),
         'dtf': $('#dtf').val()
     },
    beforeSend: function(){
        $('#my-box').html('<div class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div></div>');
        $('.progress-bar').animate({width: "30%"}, 100);

        setTimeout(function(argument) {
          $('.progress-bar').animate({width: "55%"}, 100);
        }, 10000);

    },

       xhr: function(){
       var xhr = new window.XMLHttpRequest();
       //Upload progress
       xhr.upload.addEventListener("progress", function(evt){
       if (evt.lengthComputable) {
         //var percentComplete = evt.loaded / evt.total;
          var percent = Math.round((evt.loaded / evt.total) * 100);
         //  if (percent == 100)
         //     {
         //        console.log("complet");

         //     }
         // //Do something with upload progress
         // console.log(percent);
         }
       }, false);
     //Download progress
       xhr.addEventListener("progress", function(evt){
         if (evt.lengthComputable) {
           //var percent = Math.round((evt.loaded / evt.total) * 100);
          // var percentComplete = parseInt( (evt.loaded / evt.total * 100), 10);
          //     console.log(percentComplete);
         //Do something with upload progress
         //console.log(percent);
         }
       }, false);
       return xhr;
     },
    success: function(d){
       if(d=="true"){
         $('.progress-bar').animate({width: "100%"}, 100);
            setTimeout(function(){
                $('.progress-bar').css({width: "100%"});
                setTimeout(function(){
                    $('#my-box').hide();
                }, 100);
            }, 500);
         window.open('{{ MEDIA_URL }}rapprofit.pdf');
         }

    },
    error: function(request, status, err) {
        alert((status == "timeout") ? "Timeout" : "error: " + request + status + err);
    }
});


}
          function creation(){ 

     $('#my-box').html('');
                           $('#my-box').show();
    var cmp=0;

    $.ajax({
     url: '{% url 'pointvente:profit' %}',
    type: 'POST',
     data:{
         'csrfmiddlewaretoken': '{{ csrf_token }}',         
         'dtd': $('#dtd').val(),
           "idlocationuser":$('#location').val(),
         "locationuser":$('#location option:selected').text(),
         'dtf': $('#dtf').val()
     },
    beforeSend: function(){
        $('#my-box').html('<div class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div></div>');
        $('.progress-bar').animate({width: "30%"}, 100);

        setTimeout(function(argument) {
          $('.progress-bar').animate({width: "55%"}, 100);
        }, 10000);
 
    },

       xhr: function(){
       var xhr = new window.XMLHttpRequest();
       //Upload progress
       xhr.upload.addEventListener("progress", function(evt){
       if (evt.lengthComputable) {
         //var percentComplete = evt.loaded / evt.total;
          var percent = Math.round((evt.loaded / evt.total) * 100);
         //  if (percent == 100)
         //     {
         //        console.log("complet");

         //     }
         // //Do something with upload progress
         // console.log(percent);
         }
       }, false);
     //Download progress
       xhr.addEventListener("progress", function(evt){
         if (evt.lengthComputable) {
           //var percent = Math.round((evt.loaded / evt.total) * 100);
          // var percentComplete = parseInt( (evt.loaded / evt.total * 100), 10);
          //     console.log(percentComplete);
         //Do something with upload progress
         //console.log(percent);
         }
       }, false);
       return xhr;
     },
    success: function(d){  
       if(d=="true"){ 
         $('.progress-bar').animate({width: "100%"}, 100);
            setTimeout(function(){
                $('.progress-bar').css({width: "100%"});
                setTimeout(function(){
                    $('#my-box').hide();
                }, 100);
            }, 500);
         window.open('{{ MEDIA_URL }}rapprofit.pdf');
         } 
         
    },
    error: function(request, status, err) {
        alert((status == "timeout") ? "Timeout" : "error: " + request + status + err);
    }
});

      
}
          function creation3(){

     $('#my-box').html('');
                           $('#my-box').show();
    var cmp=0;

    $.ajax({
     url: '{% url 'pointvente:synthesepointvente' %}',
    type: 'POST',
     data:{
         'csrfmiddlewaretoken': '{{ csrf_token }}',
         'totaux': '',
           "idlocationuser":$('#location').val(),
         "locationuser":$('#location option:selected').text(),
         'dtd': $('#dtd').val(),
         'dtf': $('#dtf').val()
     },
    beforeSend: function(){
        $('#my-box').html('<div class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div></div>');
        $('.progress-bar').animate({width: "30%"}, 100);

        setTimeout(function(argument) {
          $('.progress-bar').animate({width: "55%"}, 100);
        }, 10000);

    },

       xhr: function(){
       var xhr = new window.XMLHttpRequest();
       //Upload progress
       xhr.upload.addEventListener("progress", function(evt){
       if (evt.lengthComputable) {
         //var percentComplete = evt.loaded / evt.total;
          var percent = Math.round((evt.loaded / evt.total) * 100);
         //  if (percent == 100)
         //     {
         //        console.log("complet");

         //     }
         // //Do something with upload progress
         // console.log(percent);
         }
       }, false);
     //Download progress
       xhr.addEventListener("progress", function(evt){
         if (evt.lengthComputable) {
           //var percent = Math.round((evt.loaded / evt.total) * 100);
          // var percentComplete = parseInt( (evt.loaded / evt.total * 100), 10);
          //     console.log(percentComplete);
         //Do something with upload progress
         //console.log(percent);
         }
       }, false);
       return xhr;
     },
    success: function(d){
       if(d=="true"){
         $('.progress-bar').animate({width: "100%"}, 100);
            setTimeout(function(){
                $('.progress-bar').css({width: "100%"});
                setTimeout(function(){
                    $('#my-box').hide();
                }, 100);
            }, 500);
         window.open('{{ MEDIA_URL }}raptotaux.pdf');
         }

    },
    error: function(request, status, err) {
        alert((status == "timeout") ? "Timeout" : "error: " + request + status + err);
    }
});


}
 </script>

 {% endblock %}